/****************************************/
/*** hero *******************************/
/****************************************/
.hero {
  margin-top: 8em;
  margin-bottom: 16em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* justify-content: space-evenly; */
}

.hero__body {
  width: 40%;
  max-width: 550px;
  margin-right: 2em;
}

.hero__img {
  width: 50%;
}

.hero__title {
  margin-bottom: 20px;
  font-size: 3.5rem;
}

.hero__desc {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.5;
}

@media (max-width: 850px) {
  .hero {
    flex-direction: column;
    margin-top: 2em;
    margin-left: 1em;
    margin-bottom: 12em;
  }

  .hero__body {
    width: 100%;
    max-width: 700px;
    margin-right: 0;
  }

  .hero__title {
    margin-bottom: 0.25em;
  }

  .hero__desc {
    font-size: 1.375rem;
  }

  .hero__img {
    width: 100%;
    max-width: 700px;
    order: -1;
  }
}

/****************************************/
/*** trusted by *************************/
/****************************************/
:root {
  --trusted-height: 100px;
}

.trusted {
  position: relative;
  height: calc(var(--trusted-height) / 2);
  max-width: var(--max-width);
  margin: 0 auto 100px;
  display: flex;
  justify-content: space-around;
}

.trusted__by {
  position: absolute;
  top: -110px;
  font-weight: 400;
  font-size: 2rem;
  letter-spacing: 1px;
}

.trusted__icon {
  height: var(--trusted-height);
  margin-top: calc(-1 * var(--trusted-height) / 2);
  border: 1px solid lightgrey;
}

.trusted__icon--circle {
  border-radius: 100%;
}

@media (max-width: 655px) {
  .trusted {
    height: 30px;
    margin: 50px auto 25px auto;
    justify-content: space-evenly;
  }

  .trusted__icon {
    height: 60px;
    margin-top: -30px;
  }
}

/****************************************/
/*** struggle ***************************/
/****************************************/
.struggle {
  padding-block: 2em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.struggle__img {
  width: 100%;
  max-width: 500px;
}

.struggle__body {
  flex-shrink: 2;
  max-width: var(--readability-width);
}

.struggle__title {
  margin-inline: auto;
}

.struggle__btn {
  display: block;
  margin-inline: auto;
  margin-top: 2em;
}

@media (max-width: 850px) {
  .struggle__graphs {
    display: none;
  }

  .struggle__body {
    padding: 0;
  }

  .struggle__title {
    width: 100%;
  }
}

/****************************************/
/*** advertising experts ****************/
/****************************************/
.experts__outer {
  min-height: 800px;
  max-height: 1200px;
  max-width: var(--banner-width); /* from testimonials section below*/
  margin-inline: auto;
  padding-top: 2em;
  /* background image lazy loaded from javascript */
  /* background-image: url(../images/laptop_squoosh.jpg); */
  background-color: #535353;
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.experts__body {
  max-width: 500px;
  padding-top: 4em;
}

@media (max-width: 1500px) {
  .experts__outer {
  }
}

@media (max-width: 600px) {
  .experts__outer {
    min-height: 800px;
  }
}

/****************************************/
/*** testimonials banner ****************/
/****************************************/

/* 
    for testimonials banner to work:
    - take the total number of testimonials and double it in the html (copy & paste)
    - if that is not enough to full widescreen monitors, double that
    - if that is not enough to full widescreen monitors, double that...
    - THEN, follow equation below

    DO:
    - copy and past an even number of sets.

        example:
          testimonial 1
          testimonial 2
          testimonial 3
          
          testimonial 1
          testimonial 2
          testimonial 3

          testimonial 1
          testimonial 2
          testimonial 3

          testimonial 1
          testimonial 2
          testimonial 3

    DON'T:
    - copy and past an odd number of sets.

        example (don't do this):
          testimonial 1
          testimonial 2
          testimonial 3
          
          testimonial 1
          testimonial 2
          testimonial 3

          testimonial 1
          testimonial 2
          testimonial 3


    Equation:
    banner width = (cardWidth + anyMargins + anyPadding) * (numOfCards / 2)
     
    Use browser development tools to find total width of .testimonials__card

    example:
        banner width = (564 + 64) * (12 / 2)
    
*/

:root {
  /* equation result here */
  --banner-width: 4512px;
  --card-height: 255px;
}

.testimonials {
  position: relative;
  max-width: var(--banner-width);
  margin-inline: auto;
  height: calc(var(--card-height) + 20px); /* compensate scrollbar */
  overflow: hidden;
  transform: translateY(-75%);
}

@media (max-width: 850px) {
  .testimonials {
    overflow: scroll;
  }
}

.slidebanner {
  position: absolute;
  max-width: var(--banner-width);
  margin-inline: auto;
  display: flex;
}

@media (min-width: 851px) {
  .slidebanner {
    animation: bannermove 60s linear infinite;
  }

  @keyframes bannermove {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(-50%, 0);
    }
  }
}

.testimonials__card {
  flex-shrink: 0;
  width: 500px;
  height: var(--card-height);
  margin: 0 2em;
  display: flex;
  justify-content: space-between;
  background-color: var(--offwhite);
  border-radius: 30px;
}

@media (max-width: 850px) {
  .special-hide {
    display: none;
  }
}

.testimonials__left-col {
  width: 35%;
  padding-top: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.testimonials__img-container {
  width: 90px;
  height: 90px;
  margin-bottom: 15px;
  background-color: lightgrey;
  border-radius: 50%;
}

.testimonials__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.testimonials__name,
.testimonials__occupation {
  text-align: center;
  margin: 0;
  color: #2f2f2f;
  font-size: 1rem;
  line-height: 1.25em;
}

.testimonials__name {
  font-weight: 600;
}

.testimonials__right-col {
  width: 65%;
  overflow: hidden;
  padding: 25px 35px 0 5px;
}

.testimonials__stars {
  width: 130px;
}

.testimonials__star {
  width: 100%;
}

.testimonials__star + .testimonials__star {
  margin-left: 5px;
}

.testimonials__testimonial {
  margin: 10px 0 0;
  font-size: 1.1rem;
  font-style: italic;
  line-height: 1.4;
}

@media (max-width: 500px) {
  .testimonials__card {
    margin: 0 1em;
  }
}

/****************************************/
/*** why ********************************/
/****************************************/
.why {
  margin-top: -75px;
  display: flex;
  justify-content: space-between;
}

.why__ghost {
  width: 420px;
  flex-shrink: 0;
}

.why__body {
  max-width: var(--readability-width);
  margin-left: 5em;
}

.why__list {
  padding-left: 2em;
}

.why__list li {
  margin-top: 0.5em;
}

.why__btn {
  margin-top: 4em;
  display: block;
  margin-inline: auto;
}

@media (max-width: 1000px) {
  .why__ghost {
    display: none;
  }

  .why__body {
    margin-left: unset;
  }
}

@media (max-width: 500px) {
  .why {
    margin-top: -150px;
  }

  .why__list {
    padding-left: 0;
  }

  .why__list li {
    margin-top: 1em;
    list-style-type: none;
  }
}

.fade-element {
  opacity: 0;
  transition: opacity 2s;
}

.fadeIn {
  opacity: 1;
}

/****************************************/
/*** who ********************************/
/****************************************/
.who {
  display: flex;
  justify-content: space-between;
}

.who__img-frame {
  width: 420px;
  margin-inline: auto;
  flex-shrink: 0;
  position: relative;
}

.who__img {
  position: absolute;
  transform: translateY(-62.5%);
  width: 100%;
}

.who__body {
  max-width: var(--readability-width);
  margin-left: 5em;
  padding: 4em 0 6em;
}

@media (max-width: 1000px) {
  .who__img-frame {
    display: none;
  }

  .who__body {
    margin-left: unset;
  }
}

/****************************************/
/*** maximize exposure ******************/
/****************************************/
.exposure {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.exposure__body {
  width: 50%;
  max-width: var(--readability-width);
  padding-right: 2em;
}

.exposure__img-frame {
  max-width: 500px;
  width: 40%;
}

.exposure__img {
  width: 100%;
  display: block;
  margin-inline: auto;
}

@media (max-width: 850px) {
  .exposure {
    flex-direction: column;
  }

  .exposure__body {
    width: 100%;
    padding-right: unset;
  }

  .exposure__title {
    text-align: center;
  }

  .exposure__img-frame {
    order: -1;
    width: 100%;
    margin-bottom: 2em;
  }
}

/****************************************/
/*** measuring success ******************/
/****************************************/

.success {
  display: flex;
}

.success__ghost {
  width: 50%;
  flex-shrink: 0;
  /* background image lazy loaded from javascript */
  /* background-image: url(../images/work_squoosh.jpg); */
  background-color: #535353;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.success__body {
  width: 50%;
  flex-shrink: 0;
  padding-top: 6em;
  padding-bottom: 6em;
}

.success__content {
  max-width: calc(var(--readability-width) - 8em);
  padding-left: 6em;
  padding-right: 2em;
}

.success__title {
  margin-top: 0;
}

@media (max-width: 1000px) {
  .success {
    flex-direction: column;
  }

  .success__ghost {
    width: 100%;
    min-height: 40vh;
  }

  .success__body {
    width: 100%;
  }

  .success__content {
    padding-left: 2em;
  }
}

/****************************************/
/*** why work with statStory ************/
/****************************************/
.why2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.why2__body {
  width: 50%;
  max-width: var(--readability-width);
  padding-right: 2em;
}

.why2__title {
  margin-inline: auto;
}

.why2__list li {
  margin-bottom: 1em;
}

.why2__body2 {
  width: 50%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.why2__img {
  width: 100%;
  max-width: 500px;
}

.why2__btn {
  margin-top: 4em;
}

@media (max-width: 1000px) {
  .why2 {
    flex-direction: column;
  }

  .why2__body {
    width: 100%;
    padding-right: unset;
  }

  .why2__title {
    width: 100%;
    margin-top: 0;
  }

  .why2__body2 {
    width: 80%;
    margin-top: 4em;
  }
}

@media (max-width: 500px) {
  .why2__title {
    text-align: unset;
  }

  .why2__list {
    padding-left: 0;
  }

  .why2__list li {
    list-style: none;
  }
}

/****************************************/
/*** case studies carousel **************/
/****************************************/
:root {
  --cstud-height: 700px;
  --cstud-mobile-height: 600px;
  --diagnol-angle: 3;
}

.cstud__outer {
  position: relative;
  z-index: 0;
  height: var(--cstud-height);
}

.cstud__filler {
  position: absolute;
  z-index: -1;
  left: 50%;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: white;
}

.cstud__diagnol {
  position: absolute;
  z-index: -1;
  top: 0;
  right: 50%;
  border-right: calc(var(--cstud-height) / var(--diagnol-angle)) solid white;
  border-top: var(--cstud-height) solid #244aa300;
}

.cstud__inner {
  height: var(--cstud-height);
  display: flex;
  justify-content: space-between;
}

.cstud__body {
  width: 50%;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.cstud__title {
  font-size: 3rem;
  color: white;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

:root {
  --hacky-offset: -90px;
}
.cstud__title,
.cstud__btn {
  margin-left: var(--hacky-offset);
}

/******** CAROUSEL *********/

.cstud__carousel {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.cstud__prev,
.cstud__next {
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  cursor: pointer;
}

.cstud__prev {
  border-right: 25px solid var(--background-blue);
}
.cstud__next {
  border-left: 25px solid var(--background-blue);
}

@media (max-width: 350px) {
  .cstud__prev,
  .cstud__next {
    display: none;
  }
}

.cstud__prev:hover {
  border-right: 25px solid #005cc5;
}
.cstud__next:hover {
  border-left: 25px solid #005cc5;
}

#carousel {
  height: 600px;
  width: 300px;
  flex-shrink: 0;
}

/* .cstud__item is wrapped in #carousel */
.cstud__item {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
  color: var(--black);
  text-decoration: none;
  background-image: url(../images/phone.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  animation: slideIn 1s;
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateX(50%);
  }

  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}

.cstud__person,
.cstud__subscribers,
.cstud__views,
.cstud__leads {
  position: absolute;
  font-size: 1.2rem;
  font-weight: 600;
  font-family: "Nunito", sans-serif;
}

.cstud__person {
  width: max-content;
  transform: translateX(-50%);
  left: 50%;
  top: 7.5%;
  letter-spacing: 1px;
  color: white;
}

.cstud__subscribers {
  top: 27.5%;
  left: 17%;
}

.cstud__views {
  top: 27.5%;
  right: 22%;
}

.cstud__leads {
  bottom: 32.5%;
  left: 37%;
  font-size: 2.25rem;
  font-weight: 700;
}

@media (max-width: 1000px) {
  .cstud__outer {
    height: var(--cstud-mobile-height);
  }

  .cstud__filler {
    left: 0%;
  }

  .cstud__diagnol {
    display: none;
  }

  .cstud__inner {
    height: var(--cstud-mobile-height);
    justify-content: unset;
    flex-direction: column;
    align-items: center;
  }

  .cstud__body {
    width: unset;
    height: unset;
  }

  .cstud__title {
    margin: 0.5em 0 0.25em 0;
    color: black;
  }

  .cstud__btn {
    display: none;
  }

  .cstud__carousel {
    width: 100%;
    margin-top: 40px;
  }

  #carousel {
    height: 400px;
  }

  .cstud__person,
  .cstud__subscribers,
  .cstud__views,
  .cstud__leads {
    font-size: 0.85rem;
  }

  .cstud__person {
    top: 7%;
    letter-spacing: 0;
  }

  .cstud__subscribers {
    left: 26.5%;
  }

  .cstud__views {
    right: 31.5%;
  }

  .cstud__leads {
    left: 40%;
    font-size: 1.75rem;
  }
}

/****************************************/
/*** about us ***************************/
/****************************************/
.about {
  padding-top: 4em;
  padding-bottom: 4em;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about__desc {
  max-width: 900px;
}

.about__team {
  width: 100%;
  margin-top: 4em;
  display: flex;
  justify-content: space-between;
}

.about__person {
  width: 33%;
  max-width: 450px;
  padding: 0 1em;
}

.about__avatar {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
}

.about__name,
.about__position {
  margin: 0;
}

.about__name {
  font-size: 1.6rem;
  margin-top: 20px;
}

.about__position {
  font-size: 1.375rem;
  font-weight: 400;
}

@media (max-width: 1000px) {
  .about {
    padding-bottom: 0;
  }

  .about__team {
    flex-direction: column;
    align-items: center;
  }

  .about__person {
    width: 100%;
    max-width: 700px;
    margin-bottom: 4em;
  }
}
