/****************************************/
/*** Hero *******************************/
/****************************************/
.hero {
    max-width: var(--max-width);
    margin: 4em auto 6em auto;
    padding: 0 2em;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero__body {
    width: 40%;
}

.hero__img {
    width: 50%;
}

.hero__title {
    margin-bottom: 20px;
    font-size: 3.5rem;
}

.hero__desc {
    margin-top: 0;
    margin-bottom: 10px;
    font-weight: 600;
}

.hero__btn {
    margin-top: 2em;
    color: white;
    background-color: var(--background-blue);
}

.hero__btn:hover {
    background-color: #005cc5;
}

@media (max-width: 850px) {
    .hero {
        flex-direction: column;
    }

    .hero__img {
        order: -1;
        width: 100%;
        max-width: 700px;
    }

    .hero__body {
        width: 100%;
        max-width: 700px;
    }

    .hero__title {
        margin-bottom: 0.25em;
    }
}

/****************************************/
/*** Trusted By *************************/
/****************************************/
.trusted {
    /* height needs to be half icon height */
    height: 50px;
    max-width: var(--max-width);
    margin: 50px auto;

    display: flex;
    justify-content: space-around;
}

.trusted__icon {
    height: 100px;
    margin-top: -50px;
    border: 1px solid lightgrey;
}

.trusted__icon--circ {
    height: 100px;
    margin-top: -50px;
    border-radius: 50%;
    border: 1px solid lightgrey;
}

#trusted-icon-left {margin-right: 75px;}
#trusted-icon-right {margin-left: 75px;}

/****************************************/
/*** Service Desc ***********************/
/****************************************/
.serv {
    max-width: var(--max-width);
    margin: 0 auto 8em auto;
    padding: 0 2em;

    display: flex;
    color: white;
}

.serv__column {
    width: 33.3%;
    padding: 0 2em;
}

/****************************************/
/*** Testimonials ***********************/
/****************************************/

.testimonials {
    margin-bottom: 10em;
    padding: 0 2em;
    display: flex;
    overflow: auto;
}

.testimonials__card {
    flex-shrink: 0;
    width: 400px;
    height: 200px;
    margin: 0 2em;

    display: flex;
    justify-content: space-between;

    background-color: white;
    border-radius: 30px;
}

.testimonials__card:first-child {margin-left: auto;}
.testimonials__card:last-child {margin-right: auto;}



.testimonials__left-col {
    width: 35%;
    padding-top: 25px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.testimonials__img-container {
    width: 90px;
    height: 90px;
    margin-bottom: 15px;
    background-color: lightgrey;
    border-radius: 50%;
}

.testimonials__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.testimonials__name,
.testimonials__occupation {
    text-align: center;
    margin: 0;
    color: rgb(70, 70, 70);
    font-weight: 600;
    font-size: 1rem;
}

.testimonials__right-col {
    width: 65%;
    overflow: hidden;
    padding: 25px 25px 0 5px;
}

.testimonials__stars {
    width: 150px;
}

.testimonials__star {
    width: 20px;
}

.testimonials__star + .testimonials__star {
    margin-left: 5px;
}

.testimonials__testimonial {
    margin: 10px 0 0;
    font-size: 1.1rem;
    font-style: italic;
}


/****************************************/
/*** Case Studies Desktop ***************/
/****************************************/
.cstud__outer {
    position: relative;
    z-index: 0;
    height: var(--cstud-height);
}

.cstud__filler {
    position: absolute;
    z-index: -1;
    left: 50%;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: white;
}


.cstud__diagnol {
    position: absolute;
    z-index: -1;    
    top: 0;
    right: 50%;
    border-right: calc(var(--cstud-height) / var(--diagnol-angle)) solid white;
    border-top: var(--cstud-height) solid #244aa300;
}

.cstud__inner {
    max-width: var(--max-width);
    height: var(--cstud-height);
    margin-inline: auto;
    padding: 0 2em;
    
    display: flex;
    justify-content: space-between;
}

.cstud__body {
    width: 50%;
    height: 50%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cstud__title {color: white;}
/* .cstud__btn:hover {background-color: #005cc5;} */

.cstud__carousel {
    width: 50%;

    display: flex;
    align-items: center;
    justify-content: space-around;
}

.cstud__prev,
.cstud__next {
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    cursor: pointer;
}

.cstud__prev {border-right: 25px solid var(--background-blue);}
.cstud__next {border-left: 25px solid var(--background-blue);}

.cstud__prev:hover {border-right: 25px solid #005cc5;}
.cstud__next:hover {border-left: 25px solid #005cc5;}

.cstud__item {
    display: none;
    position: relative;
    height: 600px;
    width: 300px;

    flex-shrink: 0;

    color: black;
    
    background-image: url(../images/phone.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

    animation: fadeVisibility 2s;
}

@keyframes fadeVisibility {
    0% {
        opacity: 0;
        transform: translateX(50%)
    }

    100% {
        opacity: 1;
        transform: translateX(0%);
    }
}

.cstud__person,
.cstud__subscribers,
.cstud__views,
.cstud__leads {
    position: absolute;
    font-size: 1.2rem;
    font-weight: 600;
    font-family: 'Nunito', sans-serif;
}

.cstud__person {
    width: max-content;
    transform: translateX(-50%);
    left: 50%;
    top: 7.5%;

    letter-spacing: 1px;
    color: white;
}

.cstud__subscribers {
    top: 27.5%;
    left: 17%;
}

.cstud__views {
    top: 27.5%;
    right: 22%;
}

.cstud__leads {
    bottom: 32.5%;
    left: 37%;

    font-size: 2.25rem;
    font-weight: 700;
}

/****************************************/
/*** Case Studies Mobile ****************/
/****************************************/
@media (max-width: 850px) {
    :root {
        --cstud-mobile-height: 600px;
    }

    .cstud__outer {
        height: var(--cstud-mobile-height);
    }

    .cstud__filler {
        left: 0%;
    }

    .cstud__inner {
        height: var(--cstud-mobile-height);
        justify-content: unset;
        flex-direction: column;
        align-items: center;
    }

    .cstud__body {
        width: unset;
        height: unset;
    }

    .cstud__title {
        margin: .5em 0 .25em 0;
        color: black;
    }

    .cstud__btn {
        background-color: var(--background-blue);
        color: white;
    }

    .cstud__carousel {
        width: 100%;
        margin-top: 40px;
    }

    .cstud__item {
        height: 400px;
    }

    .cstud__person,
    .cstud__subscribers,
    .cstud__views,
    .cstud__leads {
        font-size: .85rem;
    }

    .cstud__person {
        top: 7%;
        letter-spacing: 0;
    }

    .cstud__subscribers {
        left: 27%;
    }

    .cstud__views {
        right: 31.5%;
    }

    .cstud__leads {
        left: 40%;
        font-size: 1.75rem;
    }
}

.visible {
    display: unset;
}