/*******************************/
/*** Big Screens Only **********/
/*******************************/
@media (min-width: 851px) {
    .hamburger {
        display: none;
    }

    .nav {
        position: unset;
        flex-direction: unset;
        transform: unset;
        width: unset;
        box-shadow: unset;
    }

    .nav__item + .nav__item {
        margin-left: 2em;
    }

    .nav__item:hover,
    .nav__item:focus {
        text-decoration: underline;
    }

    #panel-left {order: -1;}
    #panel-center {order: 0;}
    #panel-right {order: 1;}

    .desktop-hidden {
        display: none;
    }

    .testimonials__inner {
        overflow-x: hidden;
    }

    .testimonials__inner:hover {
        overflow-x: scroll;
    }
}

/*******************************/
/*** Small Screens Only ********/
/*******************************/
@media (max-width: 850px) {
    .mobile-hidden {
        display: none;
    }

    /*** Header ***/
    .logo {
        width: 35px;
    }

    /*** Hero ***/
    .hero {
        flex-direction: column;
    }

    .hero__body {
        width: 100%;
        max-width: 700px;
    }

    .hero__img {
        width: 100%;
        max-width: 700px;
        order: -1;
    }

    .hero__title {
        margin-bottom: 0.25em;
    }

    /*** Trusted By ***/
    .trusted {
        flex-direction: column;
        align-items: center;
    }

    .trusted__panel {
        margin-top: unset;
        margin-bottom: 2em;
        max-width: 700px;
    }

    #panel-center {
        margin-top: -50px;
    }

    .trusted__desc {
        margin-top: 1em;
    }

    /*** Testimonials ***/
    .testimonials__inner {
        -webkit-overflow-scrolling: touch;
        overflow-x: scroll;
    }

    /*** Case Studies ***/
    .cstud__outer {
        position: unset;
        z-index: unset;
        height: unset;
    }

    .cstud__inner {
        flex-direction: column;
        height: unset;
    }

    .cstud__body {
        width: 100%;
    }

    .cstud__title,
    .cstud__desc {
        color: black;
    }

    .cstud__title {
        margin-top: 0;
    }

    .cstud__btn {
        background-color: var(--background-blue);
        color: white;
    }

    .cstud__carousel {
        width: 100%;
        margin-top: 2em;
        margin-bottom: 1em;
    }

    .cstud__prev {
        margin-right: 1em;
    }

    .cstud__next {
        margin-left: 1em;
    }

    /*** Free Ads ***/
    .free-ads {
        width: 80%;
        min-height: unset;
    }

    .free-ads__input {
        font-size: 1.2rem;
    }

    .free-ads__btn {
        margin-bottom: 4em;
    }
}

@media (max-width: 750px) {
    .footer {
        flex-direction: column;
    }

    .footer__list {
        line-height: 2.5em;
    }
}