/****************************************/
/*** Globals ****************************/
/****************************************/
:root {
    --background-blue: #046ce0;
    --max-width: 1500px;
    --header-height: 80px;
    --cstud-height: 800px;
    --cstud-mobile-height: 600px;
    --diagnol-angle: 3;
}

body {
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
}

h2 {
    font-weight: 400;
    font-size: 2.5rem;
}

.blue-body-background {
    background-image: linear-gradient(-255deg, #244aa3, #046ce0);
    background-color: var(--background-blue);
    width: 100%;
}

.btn,
p {
    font-size: 1.25rem;
}

/****************************************/
/*** Generic ****************************/
/****************************************/
.btn {
    display: block;
    width: fit-content;
    padding: 0.25em 1.2em;
    border-radius: 1em;
    text-decoration: none;
    font-family: 'Nunito', sans-serif;
    letter-spacing: 1px;
    background-color: white;
    color: black;
}

/****************************************/
/*** Header *****************************/
/****************************************/
.header {
    max-width: var(--max-width);
    height: var(--header-height);
    margin-inline: auto;
    margin-top: 1em;
    padding: 0 2em;

    display: flex;
    align-items: center;
    justify-content: space-between;

    position: relative;
}

.logo {
    width: 45px;
}

.hamburger {
    width: 35px;
    height: 35px;
}

.nav {
    position: absolute;
    top: var(--header-height);
    left: 50%;
    width: 100%;
    
    display: flex;
    align-items: center;
    flex-direction: column;

    transform: translateX(-50%);
    background-color: white;
    box-shadow: 0px 5px 8px lightgrey;
}

.nav__item {
    padding: 1em 0;
    text-decoration: unset;
    color: unset;
}
/****************************************/
/*** Free Ads ***************************/
/****************************************/
.free-ads {
    height: 500px;
    max-width: 380px;

    margin-inline: auto;
    margin-top: 4em;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.free-ads__title {
    color: white;
    text-align: center;
    margin: 0;
}

.free-ads__input {
    border: none;
    margin-top: 20px;
    margin-bottom: 40px;
    padding: 0.5em 1em;
    border-radius: 1.25em;
    font-size: 1.25rem;
    text-align: center;
}

.free-ads__btn {
    align-self: end;
    margin-bottom: 3em;
}


/****************************************/
/*** Footer *****************************/
/****************************************/
.footer-frame {
    background-color: black;
}

.footer {
    max-width: var(--max-width);
    margin-inline: auto;
    padding: 2em;

    display: flex;
    justify-content: space-between;
    align-items: center;

    color: white;
}

.footer__logo {
    width: 100px;
}

.footer__business-info {
    text-align: center;
    margin: 0;
    font-size: 1rem;
}

.footer__list {
    list-style-type: none;
    padding-left: 0;
}

.footer__link {
    text-decoration: none;
    color: white;
}